<!DOCTYPE html>
<html lang="fr">
<head>
    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <style>.archivo {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
</style>

</head>
<body>


    <header class="bg-emerald-400" >


            <div class="text-[40px] font-bold text-center text-white bg-emerald-400 py-4 archivo-black"><p>Quel scientifique es-tu ?</p></div>
            <div class="w-40"> <img src="/static/logo_accueil.png"> </div>


    </header>


    <main></main>

    <footer></footer>


</body>
</html>