<!DOCTYPE html>
<html lang="fr">
<head>
    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <style>.archivo {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
</style>

</head>
<body class="bg-sky-500">


    <header class="grid grid-cols-3 gap-2 flex items-center bg-linear-to-t from-sky-500 to-indigo-500" >


            
            <div class="w-40 flex justify-end ml-auto"> <img src="/static/StarTrek.png"> </div>
            <div class="text-[40px] font-bold text-center text-white py-4 archivo-black mr-auto col-span2"><p>Quel personnage de Star Trek The Next Generation es-tu ?</p></div>
            <div class="flex fustify-center z-1 w-100"> <img src="/static/enterprise.png"> </div>


    </header>


    <main class="text-center bg-sky-500">
        <!-- Instructions -->
        <p class="text-[21px] m-12  text-center "> {{enonce}} </p>
        <ul class="">

            <li> <a href="/reponse/0"> {{reponses[0]}} </a> </li>
            <li> <a href="/reponse/1"> {{reponses[1]}} </a> </li>
            <li> <a href="/reponse/2"> {{reponses[2]}} </a> </li>
            <li> <a href="/reponse/3"> {{reponses[3]}} </a> </li>
            <li> <a href="/reponse/4"> {{reponses[4]}} </a> </li>


        </ul>

        <!-- Image -->
        
        <!-- Bouton pour commencer le quizz -->
    </main>





<!-- FOOTER -->
    <footer class="absolute bottom-0 w-full py-6 bg-linear-to-t from-indigo-500 to-sky-500">
        <p class="text-center text-white">Copyright &copy Augustin Lebret</p>
    </footer>


</body>
</html>